*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg: #02044A;
  --bg-second: #16195C;
  --min-height: 100vh;
  --border-radius: .4rem;
  --color: #B8B8D4;
  --border-color: #25CD89;
}

body {
  font-family: Helvetica, Arial;
}

.link {
  padding: 20px 40px;
  font-size: .875rem;
  color: var( --color );
}

.link:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 14px;
  background: var( --bg ) ;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color) ;
  border: solid 3px var(--bg);
  border-radius: 10px;
}

